@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: rgb(13, 17, 18);
    background: linear-gradient(0deg, rgba(13, 17, 18, 1) 65%, rgba(62, 62, 62, 1) 100%);
    color: #fff;
    font-family: 'Montserrat';
}

main {
    height: 100vh;
    width: 100%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-top: 5%;
    gap: 50px;
}

header p {
    text-align: center;
}

input {
    padding: 12px;
    width: 100%;
    max-width: 100px;
    height: 50px;
    border-radius: 12px;
    border: 1px solid #464444;
    background: rgba(56, 56, 56, 0.50);
    color: #fff;
}

.inputField {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
}

#resultCard {
    width: 100%;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 40px;
    padding: 8%;
}

.inputDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

p {
    display: flex;
}

footer {
    display: flex;
    justify-content: center;
    gap: 15px;
}

a img {
    width: 25px;
}

button {
    padding: 0.8rem 2rem;
    border-radius: 18px;
    background-color: #DEDEDE;
    color: #1E1E1E;
    font-weight: bold;
    width: 100%;
    height: 3.6rem;
    font-size: 1.1rem;
    cursor: pointer;
}

.nameInput {
    color: #ffffffc7;
    justify-content: center;
}

.result {
    font-size: 1.5rem;
}

.titulo {
    font-size: 2.5rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.notes {
    margin-bottom: 30%;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

#resultCard {
    border-radius: 16px;
    border: 1px solid #464444;
    background: #353535;
    color: #fff;
    max-height: 140px;

    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    gap: 8px;
    padding: 22px;
}

.cardContentTop {
    width: 100%;
    justify-content: start;
}

.cardContentTop p {
    font-size: 18px;
}

.cardContentBot {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

#result {
    width: min-content;
    font-size: 40px;
    font-weight: bold;
}

.progressCont {
    background-color: #565656;
    width: 180px;
    height: 25px;
    border-radius: 100px;
}

.progressBar {
    /* width: 70%; */
    height: 100%;
    border-radius: 100px;
    transition: all 0.5s ease;
}
